{% extends "base.html" %}

{% block content_title %}{% endblock %}

{% block content %}        
	{% if articles %}
		{% for article in articles_page.object_list %}
			<div class="article card mx-auto" itemscope itemtype="http://schema.org/BlogPosting">
				<a href="{{ SITEURL }}/{{ article.url }}">
					<h2 class="card-title" itemprop="name headline">{{ article.title }}</h2>
				</a>
				<span>
					<i class="fas fa-clock"></i>
					<time datetime="{{ article.date.isoformat() }}" itemprop="datePublished">{{ article.locale_date }}</time>
				</span>
				<div class="summary">{{ article.summary }}</div>

				{% if article.category %}
					<span><i class="fas fa-folder"></i> Category:</span>
					<span itemprop="articleSection">
						<a href="{{ SITEURL }}/{{ article.category.url }}" rel="category">{{ article.category }}</a>
					</span>
				{% endif %}

				{% if article.tags %}
					<span><i class="fas fa-tags ml-10"></i> Tags:</span>
					{% for tag in article.tags %}
						<span itemprop="keywords">
							<a href="{{ SITEURL }}/{{ tag.url }}" rel="tag">#{{ tag }}</a>
						</span>
					{% endfor %}
				{% endif %}
			</div>
		{% endfor %}
		{% include 'pagination.html' %}
	{% endif %}
{% endblock content %}

